@import 'settings';
@import 'foundation';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;

// Menu
ul[role="menu"] {
    @include menu-base;
    @include menu-direction('horizontal');

    &.vertical {
        @include menu-direction('vertical');
    }

    li {
        &.menu-text{
            @include menu-text;
        }

        &[role="separator"] {
            padding: $global-padding;
        }

        a[role="menuitem"] {

            &:hover, &:focus {
                background: $medium-gray;
            }
            &[aria-current="true"] {
                background: $medium-gray;
            }
            &[aria-disabled="true"] {
                color: $medium-gray;

                svg path {
                    fill: $dark-gray;
                }
            }
        }
    }

    > li.dropdown {
        position: relative;
        white-space: nowrap;

        > ul[role="menu"] {
            display: none;
            @include menu-direction('horizontal');

            > li.dropdown {
                > a {
                    &::after {
                        @include css-triangle($dropdownmenu-arrow-size, $dropdownmenu-arrow-color, right);
                        display: inline-block;
                        margin-left: $global-padding / 2;
                        vertical-align: middle;
                    }
                    &[aria-expanded="true"] + ul[role="menu"] {
                        top: 0;
                        left: 100%;
                    }
                }
            }
        }
        > a {

            &::after {
                @include css-triangle($dropdownmenu-arrow-size, $dropdownmenu-arrow-color, down);
                display: inline-block;
                margin-left: $global-padding / 2;
                vertical-align: middle;
            }
            &[aria-expanded="true"] + ul[role="menu"] {
                display: block;
                position: absolute;
                background: $dropdownmenu-submenu-background;
                border: $dropdownmenu-border;
            }
        }
    }
}
