.sidebar {
    padding: $global-padding;
    background: lighten($light-gray, 5%);
    border-left: 1px solid $medium-gray;

    dl dt {
        font-weight: normal;
        font-variant: small-caps;

        label {
            font-size: 100%;
            cursor: pointer;
        }
    }
    dl dd {
        margin-left: 0;
        margin-bottom: $global-margin;
    }
}
