@import 'foundation';
@import 'settings';

@import 'grid';
@import 'aria-menu';

/**
 * Icons
 */
svg.mdi-icon {
    width: 24px;
    height: 24px;
}

/**
 * Generic
 */
*[aria-hidden="true"] {
    display: none !important;
}
*[contenteditable]:focus {
    outline: 0px solid transparent;
}
