<div class="grid-y grid-frame">
  <div class="cell shrink">
    <nav class="menubar">
      <ul class="menu">
        <li><a href="#"><MdiIcon @name="Undo" @label="Undo" @class="small"/></a></li>
        <li><a href="#"><MdiIcon @name="Redo" @label="Redo" @class="small"/></a></li>
        <li><a href="#">File</a></li>
        <li><a href="#">Block</a></li>
        <li><a href="#">Inline</a></li>
      </ul>
    </nav>
  </div>
  <div class="cell auto cell-block-container">
    <div class="grid-x">
      <div class="small-8 cell cell-block-y editor">
        <p>Nur über die Piece: „Geständnisse einer <span class="page-break">XXI</span> Perrücke“ erlaub’ ich mir noch zu bemerken, daß sie aus einem kritischen Degout entstanden sind. Herrn von Rumohrs deutsche Denkwürdigkeiten, ein Buch, das wirklich aus seiner Feder herrührt, wovon man erst nach der Lectüre der spätern Sachen dieses Autors überzeugt sein kann, enthält unter Andern den Aufenthalt eines jungen deutschen Grafen in Paris, welcher nach der Illusion des Buchs in die siebziger Jahre des philosophischen Jahrhunderts gefallen sein muß. Die Schilderung desselben schien mir vor Allen verfehlt. Sie ermangelte alles Reizes, den ihr die Zeit, die damalige Sitte, die merkwürdige Bewegung von Paris in jenen vorrevolutionären Tagen hätte verleihen können. Ich adoptirte das, was sich Herr von Rumohr entgehen ließ. Ich brachte meinen Helden in Situationen, welche nur dem Charakter jener Zeit angemessen sind. Dabei wollt’ ich auch gleicher Maaßen den bei Herrn von Rumohr verfehlten Ton treffen; kurz, diese Geständnisse sind nur ein Gegenstück, das durch ein ein-<span class="page-break">XXII</span>seitiges Interesse hervorgerufen ist, und ich muß meine Leser besonders bitten, gleich von vorn herein den leisen Anhauch von Ironie, der über das Ganze waltet, nicht zu verwischen, sondern den Erzähler sich immer in dem Lichte vorgestellt zu denken, daß er fortwährend der Düpe seiner eignen Berichte ist. Ich glaubte, daß dieser Zug für einen deutschen Cavalier der siebziger Jahre, welcher in Paris lebt, unerläßlich ist.</p>
        <p>Berlin den 6. Januar 1834.</p>
        <p><span class="font-weight-bold">Karl Gutzkow.</span></p>
        <p class="text-center"><span class="font-size-large letter-spacing-large">Inhalt.</span></p>
        <p><span class="font-size-medium letter-spacing-large">Der Kaperbrief.</span></p>
        <p><span class="font-size-medium letter-spacing-large">Die Sterbecassirer.</span></p>
        <p><span class="font-size-medium letter-spacing-large">Geständnisse einer Perrücke.</span></p>
        <h1>Der Kaperbrief.</h1>
        <h2>Eine Novelle.</h2>
        <p>Während Napoleons siegreiche Waffen den Continent in Erschütterung versetzten, boten die Gewässer und Meere nur den Anblick einer traurigen Verödung dar. Mit dem allgemeinen Abschließungssysteme gegen England und mit den Blokaden, die von Seiten dieses Landes, als Repressalien für jenes, über die Küsten von ganz Europa verhängt wurden, war aus allen Häfen jeder rege Verkehr, das bunte, lebendige Treiben und die Geschäftigkeit so vieler tausend Hände verschwunden, die in Zeiten des Friedens der Unternehmungsgeist in Bewegung setzt. Der Spiegel des Meeres war trügerischer als je. War es früher nur die Macht der Stürme und Fluthen, das Verderben der Strudel und Klippen, oder der Angriff eines berberischen <span class="page-break">4</span> Corsaren gewesen, gegen die der Kaufmann beim Auslaufen aus dem Hafen seine Waarenladung versicherte, so hatte sich zu diesen Gefahren die neue gesellt, von einem Blokadeschiff oder einem bevollmächtigten Kaper aufgetrieben zu werden, und ihm bis auf den letzten Schiffsnagel heimzufallen. Die Gunst eines Augenblicks, eine rabenschwarze Nacht, die den Kauffahrer ungesehen machte, oder ein Vorsprung, den er vor seinem Verfolger voraus hatte, entschied über das Wohl oder Wehe eines ganzen Lebens. Diese ungleichmäßige Begünstigung des Zufalls erhielt die Preise der Waaren in einem unaufhörlichen Schwanken. Sie sprangen oft plötzlich so hoch, daß sie die Lust und das Vermögen jedes Käufers überstiegen. Hatte man wohl im Innern eines Landes Lust, an einem Pfunde Zucker alle die Verluste zu bezahlen, die der Kaufmann schon früher an vielen Zentnern erlitten hatte? Die Aussichten für den Handelsstand konnten nicht trauriger sein.</p>
      </div>
      <div class="small-4 cell cell-block-y sidebar">
        <dl>
          <dt>Block</dt>
          <dd>
            <select>
              <option>Paragraph</option>
            </select>
          </dd>
          <dt>Paragraph</dt>
          <dd>
            <ul class="menu">
              <li><a href="#"><MdiIcon @name="FormatAlignLeft" @label="Align the paragraph to the left"/></a></li>
              <li><a href="#"><MdiIcon @name="FormatAlignCenter" @label="Align the paragraph to the centre"/></a></li>
              <li><a href="#"><MdiIcon @name="FormatAlignRight" @label="Align the paragraph to the right"/></a></li>
              <li><a href="#"><MdiIcon @name="FormatAlignJustify" @label="Align the paragraph justified"/></a></li>
            </ul>
          </dd>
          <dt>Font Styling</dt>
          <dd>
            <ul class="menu">
              <li class="input">
                <select>
                  <option>Large Font</option>
                </select>
              </li>
              <li><a href="#"><MdiIcon @name="FormatBold" @label="Bold font"/></a></li>
              <li><a href="#"><MdiIcon @name="FormatItalic" @label="Italic font"/></a></li>
              <li class="input">
                <select>
                  <option>Wide spacing</option>
                </select>
              </li>
            </ul>
          </dd>
          <dt><label>Page break <MdiIcon @name="CheckboxBlankOutline" @class="small"/></label></dt>
          <dd></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
